@page
@model HomeBudgetRazor.Pages.AllExpensesModel
@{
    ViewData["Title"] = "My all expenses";
}

<h2>Your last expenses:</h2>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in Model.AllExpenses)
            {
                <tr>
                    <td>@expense.Id</td>
                    <td>@expense.DateOfExpense.ToString("dd MMM yyyy")</td>
                    <td>@expense.Amount</td>
                    <td>@expense.Category</td>
                    <td>@expense.Description</td>
                    <td>
                        <a asp-page="./EditExpense" asp-route-id="@expense.Id">edit</a>
                        <button type="submit" asp-page-handler="delete"
                                asp-route-id="@expense.Id">
                            delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-page="./CreateExpense">Add new expence</a>
</form>

