@page "{searchString?}"
@model HomeBudgetRazor.Pages.Expenses.IndexModel
@{
    ViewData["Title"] = "Expenses";
}

<h3>Expenses:</h3>
<p>
    <a asp-page="Create">Add New</a>
</p>

<form>
    <p>
        <input type="hidden" name="categories" id="categories" value="" />
        <select class="multiple_categories_selection" multiple="multiple"></select>
    </p>
    <p>
        Date from: <input type="date" name="DateFrom" /> to: <input type="date" name="DateTo" />
    </p>
    <p>
        Description: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].DateOfExpense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Expense)
        {
            <tr>
                <td>
                    @Html.EditorFor(model => model.Expense[0].Select)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfExpense)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h3>Sum: @Model.Sum</h3>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="expensesChart"></div>
        </div>
    </div>
</div>


@section scripts{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable(@Html.Raw(Model.StringForChart), false);

            var option = {
                title: 'Expenses by category: ',
                width: 500,
                height: 400
            };

            var formatter = new google.visualization.NumberFormat({ decimalSymbol: ',' });
            formatter.format(data, 1);

            var chart = new google.visualization.PieChart(document.getElementById('expensesChart'));

            chart.draw(data, option);
        }
    </script>
    <script type="text/javascript">
            var categoriesArray = @Html.Raw(Json.Serialize(Model.CategoriesArray));
            var dataForSelect2 = [];

            for (i = 0; i < categoriesArray.length; i++) {
                dataForSelect2.push({ id: i, text: categoriesArray[i] });
            }

            $(document).ready(function () {
                $('.multiple_categories_selection').select2({
                    data: dataForSelect2
                }).on('select2:select', function (e) {
                    var selectedCategory = e.params.data;
                    var currentlySelected = $("#categories").val();
                    $("#categories").val(currentlySelected + "," + selectedCategory.text);
                });
            });
    </script>
}