@page "{searchString?}"
@model HomeBudgetRazor.Pages.Expenses.IndexModel
@{
    ViewData["Title"] = "Expenses";
}

<h3>Expenses:</h3>
<p>
    <a asp-page="Create">Add New</a>
</p>

<form>
    <p>
        Category: <select asp-for="ExpenseCategory" asp-items="Model.Categories">
            <option value="">All</option>
        </select>
    </p>
    <p>
        Description: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].DateOfExpense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Expense)
        {
            <tr>
                <td>
                    @Html.EditorFor(model => model.Expense[0].Select)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfExpense)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h3>Sum: @Model.Sum</h3>

<div class="container">
    <div class="row">
        <div class="col-md-6">            
            <div id="chart1"></div>
        </div>
</div>

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable(@Html.Raw(Model.StringForChart), false);

            // Simple Pie Chart:
            var option = {
                title: 'Expenses by category: ',
                width: 500,
                height: 400
            };

            var formatter = new google.visualization.NumberFormat({ decimalSymbol: ',' });
            formatter.format(data, 1);

            var chart = new google.visualization.PieChart(document.getElementById('chart1'));

            chart.draw(data, option);           
        }
    </script>
}