@page
@model HomeBudgetRazor.Pages.AllCategoriesModel
@{
    ViewData["Title"] = "Categories";
}
<h5>@Model.Message</h5>
<h1>Categories:</h1>
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model.AllCategories)
                {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                    <td>
                        <a asp-page="./EditCategory" asp-route-id="@category.Id">edit</a>
                        <button type="submit" asp-page-handler="delete"
                                asp-route-id="@category.Id">
                            delete
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <a asp-page="./CreateCategory">Add new category</a>
    </form>

