@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h3>Summary:</h3>
<div class="row">
    <div class="col-xs-6">
        <div id="chart1"></div>
    </div>
    <div class="col-xs-6">
        <div id="chart2"></div>
    </div>
</div>
<div id="chart1"></div>
<h3>Your last expenses:</h3>
<p>
    <a asp-page="./Expenses/Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].DateOfExpense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Expense)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfExpense)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-page="./Expenses/Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Expenses/Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Expenses/Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable(@Html.Raw(Model.StringForChart), false);

            // Simple Pie Chart:
            var option = {
                title: 'Expenses by category: ',
                width: 500,
                height: 300
            };

            var formatter = new google.visualization.NumberFormat({ decimalSymbol: ',' });
            formatter.format(data, 1);

            var chart = new google.visualization.PieChart(document.getElementById('chart1'));
            var chart2 = new google.visualization.PieChart(document.getElementById('chart2'));
            chart.draw(data, option);
            chart2.draw(data, option);
        }
    </script>
}